<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>




      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="position: absolute; right: 0px;">
        <div class="navbar-nav">
          
          <% if (!user) { %>
            <form class="form-inline" action="/login" method="POST">
              <div class="form-group mb-2">
                <!-- <label for="login" class="nav-item nav-link" style="margin: 0px 0px -6px 0px;">Login:</label> -->
                <input class="form-control" type="text" name="email" placeholder="E-mail" style="width: 200px; margin: 10px 5px 0px 0px;">
                <button type="submit" class="btn btn-primary" style="margin: 10px 20px 0px 0px;">Sign In</button>
              </div>
            </form>
            
          <% } else { %>
            <form method="POST" action="/logout">
              <div class="form-inline">
                <label for="email" class="nav-item nav-link" style="margin: 0px 0px 0px -15px;">Logged in as: <%= user.email %></h5>
                  <button type="submit" class="btn btn-danger" style="margin: 0px 0px 0px 10px;">Logout</button>
                </div>
              </form>
            <% } %>



        </div>
      </div>
    </form>
    </div>
  </nav>
</header>